@import 'variables';

@mixin button {
  background: $trim;
  border-radius: 3%;
  color: $neutral;
  cursor: pointer;
  font-size: 3vh;
  margin: 0 auto 1% auto;
  padding: 1% 2%;
  text-align: center;
  transition: background .5s;
  &:hover {
    background: $dark;
  }
}
