$contrast: #487779;
$dark: #262626;
$darkcontrast: #355859;
$main: cadetblue;
$neutral: blanchedalmond;
$shadow: darken($darkcontrast, 5%);
$trim: dimgray;
$darktrim: darken($trim, 15%);

$phone:  "only screen and (max-width: 860px) and (orientation: portrait)"
