/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background-size: contain;
  list-style: none;
  font-family: 'PT Serif', serif;
}

.group:after {
  content: "";
  clear: both;
  position: absolute;
}
.hidden {
  display: none;
}
h1 {
  text-align: center;
}
#won {
  height: 30vh;
  width: 60vh;
  margin: auto;
  background: maroon;
}
#cards {
  list-style: none;
  padding: 2vw;
  width: 92vw;
  height: 80vh;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  background: cadetblue;
}

.card {
  flex: 1;
  box-sizing: padding-box;
  height: 30vh;
  margin: 0 .25vw;
  border-radius: 4%;
  padding: 3vh 4vw;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
  background: blanchedalmond;
  // color: transparent;
}
.face-up, .matched {
  color: darkgreen;
}
.matched {
  background: transparentize(dimgray, .8);
  cursor: default;
}
