$main: cadetblue;
$contrast: transparentize(darken(cadetblue, 25%), .5);
$trim: dimgray;

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 10vh;
  padding: 2vh;
  background: $main;
  width: 100%;
  button {
    background: $contrast;
    padding: 0 2%;
    flex-basis: 15%;
    height: 100%;
    color: floralwhite;
    border-radius: 3%;
    text-align: center;
    cursor: pointer;
    font-size: 3vh;
    margin-right: .5%;
    position: relative;
  }
  button:hover {
    background: darken($contrast, 20%);
  }
  a {
    @extend button;
  }
  #name-display {
    background: transparent;
    flex: 3;
    cursor: default;
  }
  #name-display:hover {
    background: transparent;
  }
  div {
    background: $contrast;
    padding: 0 2%;
    flex-basis: 15%;
    height: 100%;
    color: floralwhite;
    border-radius: 3%;
    text-align: center;
    cursor: pointer;
    font-size: 3vh;
    margin-right: 1vw;
    position: relative;
    button {
      width: 100%;
      padding: 0 2%;
    }
  }
  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -235%;
    left: -.5%;
    width: 200%;
    background: $main;
    box-shadow: .25vw .25vw .3vw darkslategray, -.1vw -.1vw .1vw darkslategray;
    li {
      width: 100%;
      flex: 1;
      font-size: 2.5vh;
      padding: 1% 0;
      border-bottom: .1vw solid $contrast;
    }
    li:hover {
      background: $contrast;
    }
  }
  .hidden {
    display: none;
  }

}

#leaderboard {
  height: 100%;
  display: flex;
  background: $main;
  flex-direction: column;
  justify-content: space-between;
  button {
    background: $trim;
    padding: 1% 2%;
    width: 20%;
    border-radius: 3%;
    text-align: center;
    cursor: pointer;
    font-size: 4vh;
    flex: .5;
    margin: 0 auto 1% auto;
  }
  button:hover {
    background: darken($trim, 20%);
  }
  h1 {
    flex: .5;
    background: $contrast;
  }
  ul {
    background: blanchedalmond;
    flex: 6;
    padding: 1% 0;
    width: 60%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    li {
      border-bottom: .1vw solid $trim;
      color: darken($trim, 35%);
      font-size: 3vh;
      width: 95%;
      margin: 0 auto;
      padding: 1%;
      text-align: center;
    }
    li:first-child {
      padding-top: 0;
    }
  }

}
