@import 'variables';
@import 'button';

footer {
  background: $main;
  bottom: 0;
  display: flex;
  height: 10vh;
  padding: 2vh;
  position: absolute;
  width: 100%;
  @media #{$phone} {
    flex-wrap: wrap;
    padding: 1vh;
  }
  button {
    @include button;
    background: $contrast;
    flex-basis: 12%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.5vw;
    height: 100%;
    margin: 0 .5% 0 0;
    padding: 0 2%;
    position: relative;
    width: 12%;
    @media #{$phone} {
      flex-basis: 24%;
      flex-grow: 0;
      font-size: 3.7vw;
      margin: .5%;
      padding: 0;
    }
    &:hover {
      background: $darkcontrast;
    }
  }
  a {
    @extend button;
  }
  #name-display {
    background: transparent;
    box-shadow: inset .1vw .1vw .2vw $shadow, inset -.1vw -.1vw .2vw $shadow;
    color: $dark;
    cursor: default;
    flex: 3;
    font-size: 1.5vw;
    &:hover {
      background: transparent;
    }
  }
  div {
    @extend button;
    button {
      padding: 0 2%;
      width: 100%;
    }
  }

  .menu {
    background: $main;
    box-shadow: .25vw .25vw .3vw $shadow, -.1vw -.1vw .1vw $shadow;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: -200%;
    width: 100%;
    @media #{$phone} {
      top: -140%;
    }
    li {
      background: $main;
      border-bottom: .1vw solid $contrast;
      flex: 1;
      font-size: 2.5vh;
      font-weight: bold;
      padding: 1% 0;
      width: 100%;
    }
    li:first-child:hover {
      background: #B1B1B1;
      color: #003407;
    }
    li:nth-child(2):hover {
      background: #8D6B2B;
      color: #0E1A40;
    }
    li:last-child:hover {
      background: #93730E;
      color: #740001;
    }
  }
}

#leaderboard {
  background: $neutral;
  box-shadow: inset .25vw .25vw .3vw $trim, inset -.25vw -.25vw .3vw $trim;
  box-sizing: padding-box;
  color: $dark;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2%;
  button {
    @include button;
    flex: .5;
    width: 20%;
    @media #{$phone} {
      font-size: 7vw;
      width: 90%;
    }
  }
  h1 {
    flex: .5;
    font-size: 4vh;
  }
  ul {
    background: $main;
    border: .1vw solid $darktrim;
    display: flex;
    flex: 6;
    flex-direction: column;
    margin: 1% auto;
    width: 80%;
    @media #{$phone} {
      width: 90%;
    }
    li {
      border-bottom: .1vw solid $darktrim;
      display: flex;
      font-size: 3vh;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0 3%;
      text-align: center;
      width: 100%;
      h4 {
        font-size: 3vh;
        padding-left: 2%;
        text-align: left;
        @media #{$phone} {
          font-size: 4vw;
        }
      }
      h4:first-child {
        border-right: .1vw solid $darktrim;
        color: $neutral;
        flex: .5;
        padding-left: 0;
      }
      h4:nth-child(2) {
        flex: 4;
      }
      h4:last-child{
        border-left: .1vw solid $darktrim;
        flex: 1;
        text-align: center;
      }
    }
    li:nth-child(odd){
      background: $main;
    }
    li:nth-child(even){
      background: $contrast;
    }
    li:first-child {
      padding-top: 0;
    }
  }
}
