@import 'variables';

#game {
  background: $main;
  border-radius: 1%;
  color: $neutral;
  height: 80vh;
  margin: 2vh auto;
  width: 92vw;
  section {
    background: floralwhite;
    border-bottom: .1vh solid $darktrim;
    display: flex;
    height: 10%;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    h1 {
      background: #487779;
      box-sizing: padding-box;
      flex-basis: 32%;
      font-size: 3vh;
      padding-top: 1%;
    }
    h1:last-child:hover {
      cursor: pointer;
      text-shadow: .3vw .3vw .2vw $shadow;
    }
    div {
      @extend h1;
    }
  }
}

#cards {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  justify-content: space-between;
  list-style: none;
  margin: auto;
  padding: 2vw;
  background: $main;
  width: 100%;
}
#placeholder {
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  h1 {
    background: #487779;
    box-shadow: inset .5vh .5vh .5vh $shadow;
    box-sizing: padding-box;
    cursor: pointer;
    font-size: 5vh;
    margin: auto;
    padding: 15% 1%;
    text-align: center;
    width: 35%;
  }
}

.card {
  background-color: $neutral;
  background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
  border-radius: 4%;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-size: 5vw;
  font-weight: bold;
  flex: 1;
  flex-basis: 11%;
  width: 11%;
  height: 30vh;
  margin: 0 .25vw 1.5vw .25vw;
  padding: 6vh 1vw 1vh 1vw;
  text-align: center;
  user-select: none;
}
.card:hover {
  box-shadow: .25vw .25vw .3vw $shadow, -.1vw -.1vw .1vw $shadow;
}
.flipped, .matched {
  background-image: none !important;
  border: .75vw double $dark;
  box-shadow: .25vw .25vw .3vw $shadow, -.1vw -.1vw .1vw $shadow;
  color: $dark;
}
.matched {
  background: desaturate($neutral, 50%);
  box-shadow: none;
  cursor: default;
}
.matched:hover {
  box-shadow: none;
}
.theme1 {
  background-color: #003407;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}
.flipped.theme1 {
  border-color: #B1B1B1;
  color: #B1B1B1;
}
.theme1.matched {
  @extend .flipped.theme1;
  background-color: desaturate(#003407, 50%);
}

.theme2 {
  background-color: #0E1A40;
  background-image: url("https://www.transparenttextures.com/patterns/washi.png");
}
.theme2.flipped {
  border-color: #8D6B2B;
  color: #8D6B2B;
}
.theme2.matched {
  @extend .flipped.theme2;
  background-color: desaturate(#0E1A40, 50%);
}
.theme3 {
  background-color: #740001;
  background-image: url("https://www.transparenttextures.com/patterns/swirl.png");
}
.flipped.theme3 {
  border-color: #93730E;
  color: #93730E;
}
.theme3.matched {
  @extend .flipped.theme3;
  background-color: desaturate(#740001, 50%);
}
