@import 'variables';

#game {
  width: 92vw;
  height: 80vh;
  margin: 2vh auto;
  background: $main;
  color: $dark;
  border-radius: 1%;
  section {
    display: flex;
    justify-content: space-between;
    background: $neutral;
    width: 100%;
    height: 10%;
    margin: auto;
    border-bottom: .5vh solid $trim;
    h1 {
      box-sizing: padding-box;
      padding-top: 1%;
      flex-basis: 32%;
      background: $main;
    }
    div {
      @extend h1;
    }
    i {
      cursor: pointer;
    }
  }
}
#cards {
  list-style: none;
  padding: 2vw;
  width: 100%;
  height: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  display: flex;
  background: $main;
}

#placeholder {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  h1 {
    box-sizing: padding-box;
    cursor: pointer;
    border-radius: 4%;
    text-align: center;
    width: 45%;
    margin: auto;
    padding: 16% 1%;
    font-size: 5vh;
    background: $darkcontrast;
    box-shadow: inset .5vh .5vh .5vh $shadow;
  }
}

.card {
  user-select: none;
  flex-basis: 11%;
  box-sizing: border-box;
  height: 30vh;
  margin: 0 .25vw 1.5vw .25vw;
  border-radius: 4%;
  padding: 6vh 1vw 1vh 1vw;
  cursor: pointer;
  text-align: center;
  font-size: 9vh;
  font-weight: bold;
  background-color: $neutral;
  background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
  color: transparent;
}
.card:hover {
  box-shadow: .25vw .25vw .3vw $shadow, -.1vw -.1vw .1vw $shadow;
}
.flipped, .matched {
  border: .75vw double #262626;
  color: #262626;
  background-image: none !important;
  box-shadow: .25vw .25vw .3vw $shadow, -.1vw -.1vw .1vw $shadow;
}
.matched {
  background: desaturate($neutral, 50%);
  cursor: default;
  box-shadow: none;
}
.matched:hover {
  box-shadow: none;
}
.theme1 {
  background-color: #003407;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}
.flipped.theme1 {
  color: #B1B1B1;
  border-color: #B1B1B1;
}
.theme1.matched {
  @extend .flipped.theme1;
  background-color: desaturate(#003407, 50%);
}

.theme2 {
  background-color: #0E1A40;
  background-image: url("https://www.transparenttextures.com/patterns/washi.png");
}
.theme2.flipped {
  color: #8D6B2B;
  border-color: #8D6B2B;
}
.theme2.matched {
  @extend .flipped.theme2;
  background-color: desaturate(#0E1A40, 50%);
}

.theme3 {
  background-color: #740001;
  background-image: url("https://www.transparenttextures.com/patterns/swirl.png");
}
.flipped.theme3 {
  color: #93730E;
  border-color: #93730E;
}
.theme3.matched {
  @extend .flipped.theme3;
  background-color: desaturate(#740001, 50%);
}

#timer {
  // height: 6vh;
  // margin-left: 4vw;
  // width: 12vw;
  // background: $contrast;
  // font-size: 2.5vh;
  // padding-top: 1.5vh;
  // text-align: center;
  // border-top: .1vw solid $main;
  // border-left: .1vw solid $main;
  // border-right: .1vw solid $main;
}
