@import 'variables';
@import 'button';

#welcome {
  color: #191919;
  h1 {
    padding: 3vh;
    text-align: center;
  }
  div {
    background: $main;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: space-around;
    list-style: none;
    margin: auto;
    padding: 2vw;
    width: 60vw;
    @media #{$phone} {
      height: 86vh;
      width: 90vw;
      #guest {
        flex-basis: 100%;
        height: 30.5%;
        h1 {
          line-height: normal;
          padding-bottom: 0;
        }
      }
    }
    form {
      background: transparentize(darken($main, 15%), .5);
      border: .1vw solid $trim;
      border-radius: 3%;
      box-shadow: .25vw .25vw .3vw darkslategray, -.1vw -.1vw .1vw darkslategray;
      display: flex;
      flex-basis: 48.5%;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding: 3%;
      text-align: center;
      transition: background 1s, color 1s;
      h1 {
        cursor: pointer;
        font-size: 6vh;
        font-weight: normal;
        line-height: 255%;
        padding-top: 10%;
        width: 100%;
      }
      h2 {
        flex: 1;
        font-size: 4vh;
        margin-bottom: 1vh;
      }
      p {
        cursor: pointer;
        flex: 1.5;
        margin-top: 5%;
        @media #{$phone} {
          margin-top: 0;
        }
      }
      input {
        background: floralwhite;
        border-radius: 3%;
        font-size: 3vh;
        flex: 1;
        margin-bottom: 1vh;
        padding: 0 2.5%;
        text-align: left;
        &:hover {
          background: lighten($trim, 50%);
        }
        &:focus {
          background: lighten($trim, 70%);
          box-shadow: inset .1vw .1vw .1vw $trim;
        }
      }
      .warning {
        border: .1vw solid red;
      }
      section {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        button {
          @include button;
          flex-basis: 49%;
          margin: 0;
        }
      }
      &:hover {
        background: $contrast;
      }
    }
    section {
      display: flex;
      flex-basis: 48.5%;
      flex-direction: column;
      justify-content: space-between;
      @media #{$phone} {
        flex-basis: 100%;
        height: 68.5%;
        justify-content:space-around;
      }
      form {
        height: 48.5%;
        width: 100%;
      }
    }
  }
}
