@import 'variables';
@import 'button';

#won {
  margin: auto;
  color: $dark;
  background: $neutral;
  box-shadow: inset .25vw .25vw .3vw $trim, inset -.25vw -.25vw .3vw $trim;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2% 0;
  h1 {
    flex: 1.5;
    line-height: 200%;
    padding: 2% 0;
    box-sizing: padding-box;
    font-size: 8vh;
  }
  h2 {
    text-align: center;
    background: $main;
    box-shadow: inset .25vw 0 .2vw $shadow, inset -.25vw 0 .2vw $shadow;
    color: $neutral;
    flex: 1;
    line-height: 200%;
    padding: 1.5% 0;
    box-sizing: padding-box;
    font-size: 5vh;
  }
  h3 {
    text-align: center;
    font-weight: normal;
    flex: .75;
    box-sizing: padding-box;
    background: $contrast;
    box-shadow: inset .25vw 0 .1vw $shadow, inset -.25vw 0 .1vw $shadow;
    padding: 1.5% 0;
    line-height: 200%;
    font-size: 3.5vh;
    color: $dark;
  }
  section {
    flex: .75;
    width: 100%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    padding: 1% 0 0 0;
    box-sizing: padding-box;
    button {
      @include button;
      flex-basis: 20%;
      height: 100%;
      margin: 0 .5%;
    }
  }
}
