$main: cadetblue;
$contrast: transparentize(darken(cadetblue, 15%), .8);
$trim: dimgray;

#won {
  margin: auto;
  border: 1vh solid darkslategray;
  border-radius: 2%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  h1 {
    flex: 1.5;
    background: $main;
    padding: 4% 0;
    font-size: 9vh;
  }
  h2 {
    text-align: center;
    background: $trim;
    color: blanchedalmond;
    flex: 1;
    padding-top: 3%;
    font-size: 5vh;
  }
  h3 {
    background: lighten($trim, 20%);
    text-align: center;
    font-weight: normal;
    flex: .5;
    padding: 1% 0;
    font-size: 3vh;
  }
  section {
    flex: 1;
    background: $main;
    width: 100%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    box-shadow: .1vw .1vw .3vw darkslategray, -.1vw -.1vw .3vw darkslategray;
    button {
      flex-basis: 25%;
      font-size: 3vh;
      height: 100%;
      background-color: $trim;
    }
    button:first-child {
      border-right: .1vh solid darken($trim, 30%);
    }
    button:hover {
      background: darken($trim, 20%);
    }
  }
}
