<!DOCTYPE html>
<html>
<head>
  <title>MemoryGame</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <link rel="shortcut icon" href="https://d30y9cdsu7xlg0.cloudfront.net/png/7308-200.png">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>
